name: Close issues without labels

on:
  issues:
    types:
      - opened
      - reopened

jobs:
  close-issue:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Check for labels
        id: check_labels
        run: |
          EMPTY_LABELS="${{ join(github.event.issue.labels) == '' }}"

          echo "has_no_labels=$EMPTY_LABELS" >> $GITHUB_OUTPUT
      - name: Close issue if no labels found
        if: steps.check_labels.outputs.has_no_labels == 'true'
        run: |
          gh issue comment ${{ github.event.issue.number }} --body "This issue was closed automatically because it was created without following an issue template. Please use the [issue templates](https://github.com{{ github.repository }}/issues/new/choose) and ensure appropriate labels are applied."
          gh issue close ${{ github.event.issue.number }} --reason "not planned"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
