name: Close issues without labels

on:
  issues:
    types:
      - opened
      - reopened

jobs:
  close-issue:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            .github
      - name: Close issue if no labels found
        if: join(github.event.issue.labels) == ''
        run: |
          gh issue comment ${{ github.event.issue.number }} --body "This issue was closed automatically because it was created without following an issue template. Please use the [issue templates](https://github.com{{ github.repository }}/issues/new/choose) and ensure appropriate labels are applied."
          gh issue close ${{ github.event.issue.number }} --reason "not planned"
        env:
          GH_TOKEN: ${{ github.token }}
